p = t('hello', name: @resource.email)

p = t('.someone_requested_password_change')

p = link_to t('.change_my_password'), edit_password_url(@resource, reset_password_token: @token)

p = t('.ignore_if_not_you')
p = t('.your_password_won_t_change')
